{%extends "LineasTelefonicasPoliciaERBundle:Default:index.html.twig"%}
{%block stylesheets %}

{%endblock%}
{%block container %}
<div class="container">

<h2>Agregue los datos de la nueva linea</h2>


		
		
		
		
 </div> 
    {%endblock%}