{%extends "MateriawebMateriaBundle:Default:index.html.twig"%}
{%block container %}
<div class="container" >

    <form id="form" class="well" method="POST" action="{{path('materiaweb_materia_new_company')}}" data-validate="parsley">
         <h2>Cree su empresa</h2>
         
        
        <label>Razon Social</label>
        <input type="text" id="companyRazonSocial" name="companyRazonSocial" class="input-xlarge" data-trigger="change" data-required="true">
        
        <label>Nombre de Fantasia</label>
        <input type="text" id="companyNombreFantasia" name="companyNombreFantasia" class="input-xlarge" data-trigger="change" data-required="true">
        
        <label>Clave de empresa</label>
        <input type="text" id="companyClave" name="companyClave" class="input-xlarge" data-trigger="change" data-required="true" >
		<br>
		<small>La clave de empresa se compnoe de 10 caracteres consecutivos. Pueden ser letras mayusculas o minusculas y numeros. La clave de empresa se utilizara para identificar a la empresa al momento de iniciar sesion</small>
		<br>
        <small>Si el nombre de su empresa es Vendemos S.A. - Una clave posible puede ser "V3nD3M0224</small>
        <br>
        
        <label>Direccion (calle)</label>
        <input type="text" id="companyCalle" name="companyCalle" class="input-xlarge" data-trigger="change" data-required="true">
        
        <label>Direccoin (Numero)</label>
        <input type="text" id="companyCalleNro" name="companyCalleNro" class="input-xlarge" data-trigger="change" data-required="true">
        
        <label>Ciudad</label>
        <input type="text" id="companyLocalidad" name="companyLocalidad" class="input-xlarge" data-trigger="change" data-required="true">
        
        <label>Provincia</label>
        <input type="text" id="companyProvincia" name="companyProvincia" class="input-xlarge" data-trigger="change" data-required="true">
        
        <label>Pais</label>
        <input type="text" id="companyPais" name="companyPais" class="input-xlarge" data-trigger="change" data-required="true">
        
        <label>Codigo Postal</label>
        <input type="text" id="companyCp" name="companyCp" class="input-xlarge" data-trigger="change" data-required="true">
        
        <label>Cuit</label>
        <input type="text" id="companyCuit" name="companyCuit" class="input-xlarge" data-trigger="change" data-required="true">
        
        <label>Perfil Fiscal</label>
        <input type="text" id="companyPerFiscal" name="companyPerFiscal" class="input-xlarge" data-trigger="change" data-required="true">
        
        <label>Condicion Ingresos brutos</label>
        <input type="text" id="companyCondiibb" name="companyCondiibb" class="input-xlarge" data-trigger="change" data-required="true">
        
        <label>Numero Ingresos Brutos</label>
        <input type="text" id="companyNiibb" name="companyNiibb" class="input-xlarge" data-trigger="change" data-required="true">
        
        <label>Actividad</label>
        <input type="text" id="companyActividad" name="companyActividad" class="input-xlarge" data-trigger="change" data-required="true">
        
        <label>Observaciones</label>
        <textarea type="text" id="companyObservaciones" name="companyObservaciones" class="input-xlarge" data-trigger="change"></textarea>
        
        <label>Nombre del Titular</label>
        <input type="text" id="companyNombretitular" name="companyNombretitular" class="input-xlarge" data-trigger="change" data-required="true">
        
        <label>Apellido del Titular</label>
        <input type="text" id="companyApellidoTitular" name="companyApellidoTitular" class="input-xlarge" data-trigger="change" data-required="true">
        
        <label>Mail del Titular</label>
        <input type="text" id="companyMail" name="companyMail" class="input-xlarge" data-trigger="change" data-required="true" data-type="email">
        
        <label>Usuario Titular</label>
        <input type="text" id="companyUsuarioTitular" name="companyUsuarioTitular" class="input-xlarge" data-trigger="change" data-required="true">
        
        <label>Password</label>
        <input type="password" id="companyPasswordTitular" name="companyPasswordTitular" class="input-xlarge" data-trigger="change" data-required="true">
        
        <div>
         <button class="btn btn-primary" type="submit" >crear Empresa</button>
        </div>
    </form>
</div>

 {%endblock%}